.message-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;

    .message-content {
        width: 100%;
        display: flex;
        flex-direction: row;
        height: 100%;

        .message-content__left {
            border-right: 1px solid #242424;
            width: 25%;
            padding-top: 10px;
            max-height: 100%;
            display: flex;
            flex-direction: column;
            .left__header {
                display: flex;
                width: 100%;
                justify-content: space-between;
                padding-inline: 10px;
                margin-top: 10px;
                align-items: center;
                font-size: 18px;
                .header__user-name{
                    font-weight: 500;
                }
                .header__new-chat{
                    cursor: pointer;
                    font-size: 25px;
                }
            }
            .left__search-chat {
                width: 100%;
                padding-left: 10px;
                padding-right: 10px;
                margin-top: 10px;
                label {
                    display: flex;
                    background-color: #242424;
                    align-items: center;
                    border-radius: 5px;
                    padding-block: 5px;
                    padding-inline: 10px;
                    gap: 10px;
                    div>i {
                        font-size: 15px;
                        opacity: 0.5;
                    }
                    input {
                        width: 100%;
                        &:focus {
                            outline: none;
                        }
                    }
                }
            }
            .left__subtitle {
                width: 100%;
                padding-left: 10px;
                padding-right: 10px;
                font-size: 16px;
                font-weight: 500;
                letter-spacing: 1px;
                margin-top: 15px;
                margin-bottom: 5px;
            }
            .left__list-chatted {
                display: flex;
                flex-direction: column;
                gap: 2px;
                width: 100%;
                padding-left: 10px;
                padding-right: 10px;
                flex: 1;
                overflow-y: auto;
                .chatted-card {
                    display: flex;
                    width: 100%;
                    height: 65px;
                    align-items: center;
                    gap: 10px;
                    cursor: pointer;
                    padding-left: 4px;
                    padding-block: 5px;
                    &:hover {
                        background-color: #242424;
                    }
                    .avatar-user {
                        width: 50px;
                        img {
                            width: 50px;
                            height: 50px;
                            border-radius: 100%;
                        }     
                    }  
                    .detail-chat {
                        display: flex;
                        flex-direction: column;
                        .name {
                            font-size: 14px;
                        }
                        .last-chat {
                            font-size: 13px;
                            opacity: 0.6;
                            display: flex;
                            gap: 4px;
                        }
                    }
                }
            }
        }
        .message-content__center {
            width: 50%;
            display: flex;
            flex-direction: column;
            transition: 0.3s ease   ;
            .center__header {
                width: 100%;
                display: flex;
                justify-content: space-between;
                padding-left: 10px;
                padding-right: 10px;
                padding-bottom: 15px;
                padding-top: 15px;
                align-items: center;
                border-bottom: 1px solid #242424;
                .header__info {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    img {
                        width: 40px;
                        height: 40px;
                        border-radius: 100%;
                    }
                    .name {
                        font-size: 18px;
                        font-weight: 400;
                    }
                }
                .header__action {
                    display: flex;
                    gap: 15px;
                    align-items: center;
                    div>i {
                        font-size: 20px;
                        cursor: pointer;
                    }
                }
            }
            .center__frame-chat {
                min-height: 542px;
                overflow-y: auto;
            }
            .center__send {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                border-top: 1px solid #242424;
                padding-block: 15px;
                padding-left: 10px;
                padding-right: 10px;
                .input-frame {
                    width: 100%;
                    border-radius: 20px;
                    border: 1px solid #ccc;
                    padding-block: 10px;
                    display: flex;
                    gap: 10px;
                    padding-inline: 10px;
                    font-size: 20px;
                    input {
                        font-size: 15px;
                        width: 100%;
                        &:focus {
                            outline: none;
                        }
                    }
                    div>i {
                        cursor: pointer;
                    }
                }
            }
            &.seventyfive {
                width: 75%;
            }

            &.half {
                width: 50%;
            }
        }
        .message-content__right {
            width: 25%;
            border-left: 1px solid #242424;
        }
    }
}