.share-container {
    display: inline-block;
    flex-direction: row;
    width: 100%;

    .share-content {
        display: flex;
        padding: 3px;
        height: 60px;

        .avt-author {
            img {
                width: 45px;
                height: 45px;
                border-radius: 50%;
            }
        }

        .options {
            margin-left: 8px;

            .name-author {
                font-weight: 600;
                font-size: 16px;
            }

            .option-items {
                select {
                    width: 100%;
                    height: 25px;
                    font-size: 14px;
                    border: 1px solid #ccc;
                    font-weight: 400;
                    border-radius: 4px;
                    outline: none;
                }

                select:hover {
                    background-color: rgba(188, 188, 188, 0.385);
                    border-color: #888;
                    cursor: pointer;
                }

            }
        }
    }

    .caption-post-share {
        width: 100%;
        margin-top: 10px;
        height: auto;

        textarea {
            width: 100%;
            border: none;
            outline: none;
            font-size: 16px;
            padding: 8px;
            resize: none;
            min-height: 60px;
            line-height: 1.4;
        }
    }

    .btn-confirm-share {
        float: right;
        background-color: rgba(21, 123, 247, 0.873);
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
        font-weight: 500;
        color: rgb(239, 234, 234);

        &:hover {
            background-color: rgba(30, 118, 226, 0.873);
            transition: .3s ease;
        }
    }
}