
.sidebar-container {
    width: 15%;
    height: 95vh;
    display: flex;
    background-color: #222;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #494949;
    border-radius: 5px;
    color: white;
    padding-left: 14px;
    padding-right: 14px;
    margin-left: 18px;
    transition: all 0.3s ease;
    &.full {
        width: 15%;
    }
    &.compact {
        width: 5%;
        padding-top: 20px;
    }
    
    .sidebar__option {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        .sidebar__logo {
            display: flex;
            align-items: center;
            justify-content: center;
            .logo {
                min-width: 50px;
                max-height: 100px;
            }
        }
        .sidebar__option-item {
            display: flex;
            align-items: center;
            gap: 10px;
            font-weight: 400;
            font-size: 17px;
            cursor: pointer;
            width: 100%;
            padding-block: 10px;
            padding-inline: 5px;
            text-decoration: none;
            color: #ffffff;
            &.full {
                .option-title {
                    display: block;
                }
            }
            &.compact {
                justify-content: center;
                i {
                    font-size: 20px;
                }
                .option-title {
                    display: none;
                }
            }
            
            &:hover {
                background-color: #494949;
                border-radius: 5px;
            }
        }
    }

    .sidebar__menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 10px;
        .sidebar__menu-option {
            display: flex;
            align-items: center;
            gap: 10px;
            font-weight: 400;
            font-size: 17px;
            width: 100%;
            padding-inline: 5px;
            padding-block: 10px;
            text-decoration: none;
            color: #ffffff;
            cursor: pointer;
            .avatar-user{
                width: 25px;
                height: 25px;
                border-radius: 100%;
                cursor: pointer;
                &:hover {
                    outline: 3px solid #ac4aaa;
                }
            }
            &:hover {
                background-color: #242424;
                border-radius: 5px;
            }
            .option-title {
                display: block;
            }
            &.full {
                .option-title {
                    display: block;
                }
            }
            &.compact {
                justify-content: center;
                i {
                    font-size: 20px;
                }
                .option-title {
                    display: none;
                }
            }
        }
        
    }
}

@media (min-width: 768px) and (max-width: 1260px) {
    .option-title{
        display: none;
    }
}